Repository Khushboqof/raqamliavlod, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sodiqjonovich, @khayitmuradov, @Maxamadzoidov, @AbdullayevAbbos, @akhadov, @TemurbekUbaydullayev, @aslonboyev

FileService updated
  src/RaqamliAvlod.Infrastructure.Service/Services/Users/AccountService.cs
Owners: none

updated
  src/RaqamliAvlod.Infrastructure.Service/Security/PasswordHasher.cs
  src/RaqamliAvlod.Infrastructure.Service/Services/Users/AccountService.cs
Owners: none

updated
  src/RaqamliAvlod.Infrastructure.Service/Security/PasswordHasher.cs
  src/RaqamliAvlod.Infrastructure.Service/Services/Users/AccountService.cs
Owners: none

updated
  src/RaqamliAvlod.Infrastructure.Service/Services/Users/AccountService.cs
Owners: none

AccountService updated
  src/RaqamliAvlod.Infrastructure.Service/Helpers/GenerateHelper.cs
  src/RaqamliAvlod.Infrastructure.Service/Security/PasswordHasher.cs
Owners: none

AccountService updated
  src/RaqamliAvlod.Infrastructure.Service/Helpers/GenerateHelper.cs
  src/RaqamliAvlod.Infrastructure.Service/Security/PasswordHasher.cs
Owners: none

Update Datalayer, Applicationlayer and Apilayer and new service method in Servicelayer
  src/RaqamliAvlod.Api/Configurations/Dependencies/ApiLayerConfiguration.cs
  src/RaqamliAvlod.Api/Configurations/Dependencies/DataAccessLayerConfiguration.cs
  src/RaqamliAvlod.Api/Configurations/Dependencies/ServiceLayerConfiguration.cs
  src/RaqamliAvlod.Api/Controllers/CoursesController.cs
  src/RaqamliAvlod.Application/ViewModels/Courses/CourseViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Users/OwnerViewModel.cs
  src/RaqamliAvlod.DataAccess/Interfaces/Courses/ICourseRepository.cs
  src/RaqamliAvlod.DataAccess/Repositories/Courses/CourseRepository.cs
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Courses/ICourseService.cs
  src/RaqamliAvlod.Infrastructure.Service/Services/Courses/CourseService.cs
Owners: none

Update Datalayer, Applicationlayer and Apilayer and new service method in Servicelayer
  src/RaqamliAvlod.Api/Configurations/Dependencies/ApiLayerConfiguration.cs
  src/RaqamliAvlod.Api/Configurations/Dependencies/DataAccessLayerConfiguration.cs
  src/RaqamliAvlod.Api/Configurations/Dependencies/ServiceLayerConfiguration.cs
  src/RaqamliAvlod.Api/Controllers/CoursesController.cs
  src/RaqamliAvlod.Application/ViewModels/Courses/CourseViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Users/OwnerViewModel.cs
  src/RaqamliAvlod.DataAccess/Interfaces/Courses/ICourseRepository.cs
  src/RaqamliAvlod.DataAccess/Repositories/Courses/CourseRepository.cs
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Courses/ICourseService.cs
  src/RaqamliAvlod.Infrastructure.Service/Services/Courses/CourseService.cs
Owners: none

review
  src/RaqamliAvlod.Api/Configurations/Dependencies/ServiceLayerConfiguration.cs
Owners: none

Account Service connected controller
  src/RaqamliAvlod.Api/Configurations/Dependencies/ServiceLayerConfiguration.cs
  src/RaqamliAvlod.Api/Controllers/AccountsController.cs
  src/RaqamliAvlod.Api/appsettings.json
  src/RaqamliAvlod.Infrastructure.Service/Services/Users/AccountService.cs
Owners: @khayitmuradov

Account Service connected controller
  src/RaqamliAvlod.Api/Configurations/Dependencies/ServiceLayerConfiguration.cs
  src/RaqamliAvlod.Api/Controllers/AccountsController.cs
  src/RaqamliAvlod.Api/appsettings.json
  src/RaqamliAvlod.Infrastructure.Service/Services/Users/AccountService.cs
Owners: @khayitmuradov

AccountService updated
  src/RaqamliAvlod.Infrastructure.Service/Helpers/GenerateHelper.cs
  src/RaqamliAvlod.Infrastructure.Service/Security/PasswordHasher.cs
Owners: none

Created architecture of core layer
  src/RaqamliAvlod.Infrastructure.Core/Interfaces/IContestCalculatorService.cs
  src/RaqamliAvlod.Infrastructure.Core/Interfaces/IProblemSetCalculatorService.cs
  src/RaqamliAvlod.Infrastructure.Core/Interfaces/Managers/ICheckerManager.cs
  src/RaqamliAvlod.Infrastructure.Core/Interfaces/Shared/ICheckerConsumer.cs
  src/RaqamliAvlod.Infrastructure.Core/Interfaces/Shared/ICheckerProducer.cs
  src/RaqamliAvlod.Infrastructure.Core/Managers/CheckerManager.cs
  src/RaqamliAvlod.Infrastructure.Core/Models/CheckerSubmissionOptions.cs
  src/RaqamliAvlod.Infrastructure.Core/Models/CheckerSubmissionRequest.cs
  src/RaqamliAvlod.Infrastructure.Core/Models/CheckerSubmissionResponse.cs
  src/RaqamliAvlod.Infrastructure.Core/RabbitMq/RabbitMqCheckerConsumer.cs
  src/RaqamliAvlod.Infrastructure.Core/RabbitMq/RabbitMqCheckerProducer.cs
  src/RaqamliAvlod.Infrastructure.Core/RaqamliAvlod.Infrastructure.Core.csproj
  src/RaqamliAvlod.Infrastructure.Core/Services/ContestCalculatorService.cs
  src/RaqamliAvlod.Infrastructure.Core/Services/ProblemSetCalculatorService.cs
  src/RaqamliAvlod.Infrastructure.Service/Helpers/ImageHelper.cs
Owners: @sodiqjonovich

updated
  src/RaqamliAvlod.Api/Controllers/AccountsController.cs
  src/RaqamliAvlod.Api/appsettings.json
  src/RaqamliAvlod.Infrastructure.Service/Services/Users/AccountService.cs
Owners: @khayitmuradov

AccountService updated
  src/RaqamliAvlod.Api/Configurations/Dependencies/ServiceLayerConfiguration.cs
  src/RaqamliAvlod.Api/Controllers/AccountsController.cs
  src/RaqamliAvlod.Api/appsettings.json
Owners: @khayitmuradov

AccountService updated
  src/RaqamliAvlod.Api/Configurations/Dependencies/ServiceLayerConfiguration.cs
  src/RaqamliAvlod.Api/Controllers/AccountsController.cs
  src/RaqamliAvlod.Api/appsettings.json
Owners: @khayitmuradov

Updated AppDbContext
  src/RaqamliAvlod.DataAccess/DbContexts/AppDbContext.cs
Owners: none

updated
  src/RaqamliAvlod.Api/Configurations/Dependencies/ServiceLayerConfiguration.cs
  src/RaqamliAvlod.Infrastructure.Service/RaqamliAvlod.Infrastructure.Service.csproj
  src/RaqamliAvlod.Infrastructure.Service/Services/Common/FileService.cs
Owners: @TemurbekUbaydullayev

updated
  src/RaqamliAvlod.Api/Configurations/Dependencies/ServiceLayerConfiguration.cs
  src/RaqamliAvlod.Infrastructure.Service/RaqamliAvlod.Infrastructure.Service.csproj
  src/RaqamliAvlod.Infrastructure.Service/Services/Common/FileService.cs
Owners: @TemurbekUbaydullayev

updated
  src/RaqamliAvlod.Api/Configurations/Dependencies/ServiceLayerConfiguration.cs
  src/RaqamliAvlod.Infrastructure.Service/RaqamliAvlod.Infrastructure.Service.csproj
  src/RaqamliAvlod.Infrastructure.Service/Services/Common/FileService.cs
Owners: @TemurbekUbaydullayev

Updated AppDbContext
  src/RaqamliAvlod.DataAccess/DbContexts/AppDbContext.cs
Owners: none

Email.Service bug fixed
  src/RaqamliAvlod.Infrastructure.Service/Services/Common/EmailService.cs
Owners: none

updated
  src/RaqamliAvlod.Api/Controllers/AccountsController.cs
Owners: none

updated
  src/RaqamliAvlod.Api/Controllers/AccountsController.cs
Owners: none

updated latest version
  src/RaqamliAvlod.DataAccess/DbContexts/AppDbContext.cs
  src/RaqamliAvlod.DataAccess/Migrations/20221102131110_InitialCreate.Designer.cs
  src/RaqamliAvlod.DataAccess/Migrations/20221102131601_SecondMigration.Designer.cs
  src/RaqamliAvlod.DataAccess/Migrations/20221102131601_SecondMigration.cs
  src/RaqamliAvlod.DataAccess/Migrations/20221102140727_Migration3.Designer.cs
  src/RaqamliAvlod.DataAccess/Migrations/20221102140727_Migration3.cs
  src/RaqamliAvlod.DataAccess/Migrations/20221102142038_Migration4.cs
  src/RaqamliAvlod.DataAccess/Migrations/20221102145829_LastMigration.Designer.cs
  src/RaqamliAvlod.DataAccess/Migrations/20221102145829_LastMigration.cs
  src/RaqamliAvlod.DataAccess/Migrations/20221104125631_InitialMigration.Designer.cs
  src/RaqamliAvlod.DataAccess/Migrations/20221104125631_InitialMigration.cs
  src/RaqamliAvlod.DataAccess/Migrations/AppDbContextModelSnapshot.cs
  src/RaqamliAvlod.Domain/Entities/Users/User.cs
Owners: none

VerifyEmail added to AccountController
  src/RaqamliAvlod.Api/Controllers/AccountsController.cs
Owners: none

updated
  src/RaqamliAvlod.Api/Configurations/Dependencies/ServiceLayerConfiguration.cs
  src/RaqamliAvlod.Infrastructure.Service/RaqamliAvlod.Infrastructure.Service.csproj
  src/RaqamliAvlod.Infrastructure.Service/Services/Common/FileService.cs
Owners: @TemurbekUbaydullayev

fixed username problem
  src/RaqamliAvlod.DataAccess/Repositories/UnitOfWork.cs
  src/RaqamliAvlod.Domain/Entities/Users/User.cs
Owners: none

Email.Service bug fixed
  src/RaqamliAvlod.Infrastructure.Service/Services/Common/EmailService.cs
Owners: none

VerifyEmail added to AccountController
  src/RaqamliAvlod.Api/Controllers/AccountsController.cs
Owners: none

updated find property
  src/RaqamliAvlod.DataAccess/Repositories/BaseRepository.cs
Owners: none

updated
  src/RaqamliAvlod.DataAccess/Repositories/BaseRepository.cs
Owners: none

VerifyEmail added to AccountController
  src/RaqamliAvlod.Api/Controllers/AccountsController.cs
Owners: none

fixed time problem
  src/RaqamliAvlod.Api/RaqamliAvlod.Api.csproj
  src/RaqamliAvlod.DataAccess/Repositories/BaseRepository.cs
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Common/IServerTimeService.cs
  src/RaqamliAvlod.Infrastructure.Service/Services/Common/ServerDateTime.cs
Owners: @khayitmuradov

ForgotPassword, SendCode controllers added controller
  src/RaqamliAvlod.Api/Controllers/AccountsController.cs
Owners: none

adding CourseCommentService, fixed courseService
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Courses/ICourseCommentService.cs
  src/RaqamliAvlod.Infrastructure.Service/Services/Courses/CourseCommentService.cs
  src/RaqamliAvlod.Infrastructure.Service/Services/Courses/CourseService.cs
Owners: none

changed questionservice
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Questions/IQuestionService.cs
  src/RaqamliAvlod.Infrastructure.Service/Services/Questions/QuestionService.cs
Owners: none

changed questionservice
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Questions/IQuestionService.cs
  src/RaqamliAvlod.Infrastructure.Service/Services/Questions/QuestionService.cs
Owners: none

Create Time Helper
  src/RaqamliAvlod.Infrastructure.Service/Helpers/TimeHelper.cs
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Common/IServerTimeService.cs
  src/RaqamliAvlod.Infrastructure.Service/Services/Common/ServerDateTime.cs
Owners: none

Update Courses Controller
  src/RaqamliAvlod.Api/Controllers/CoursesController.cs
Owners: none

.github/CODEOWNERS:

# Github configs PR reviewer
/.github/*                                      @sodiqjonovich
/assets/*                                       @sodiqjonovich
/src/*                                          @sodiqjonovich

/src/RaqamliAvlod.Api/*                         @khayitmuradov
/src/RaqamliAvlod.DataAccess/*                  @Maxamadzoidov
/src/RaqamliAvlod.Application/*                 @AbdullayevAbbos
/src/RaqamliAvlod.Domain/*                      @akhadov
/src/RaqamliAvlod.Infrastructure.Core/*         @sodiqjonovich
/src/RaqamliAvlod.Infrastructure.Service/*      @TemurbekUbaydullayev

/test/*                                         @aslonboyev
