Repository Khushboqof/raqamliavlod, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sodiqjonovich, @khayitmuradov, @Maxamadzoidov, @AbdullayevAbbos, @akhadov, @TemurbekUbaydullayev, @aslonboyev

.github/CODEOWNERS:

# Github configs PR reviewer
/.github/*                                      @sodiqjonovich
/assets/*                                       @sodiqjonovich
/src/*                                          @sodiqjonovich

/src/RaqamliAvlod.Api/*                         @khayitmuradov
/src/RaqamliAvlod.DataAccess/*                  @Maxamadzoidov
/src/RaqamliAvlod.Application/*                 @AbdullayevAbbos
/src/RaqamliAvlod.Domain/*                      @akhadov
/src/RaqamliAvlod.Infrastructure.Core/*         @sodiqjonovich
/src/RaqamliAvlod.Infrastructure.Service/*      @TemurbekUbaydullayev

/test/*                                         @aslonboyev

updated
  src/RaqamliAvlod.Application/RaqamliAvlod.Application.csproj
Owners: @AbdullayevAbbos

Added ToPagenator method in Paginator Service Interface
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Common/IPaginatorService.cs
Owners: none

Added ToPagenator method in Paginator Service Interface
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Common/IPaginatorService.cs
Owners: none

Added HttpContextAccessor added Program.cs
  src/RaqamliAvlod.Api/Program.cs
Owners: @khayitmuradov

ToPaginator method created in the Paginator Service Interfaace in Pagionator Service
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Common/IPaginatorService.cs
  src/RaqamliAvlod.Infrastructure.Service/Services/Common/PaginatorServcie.cs
Owners: none

Install new package
  src/RaqamliAvlod.Infrastructure.Service/RaqamliAvlod.Infrastructure.Service.csproj
Owners: @TemurbekUbaydullayev

ApilayerConfiguration added service
  src/RaqamliAvlod.Api/Configurations/Dependencies/ApiLayerConfiguration.cs
Owners: none

Remove middleware from Program.cs
  src/RaqamliAvlod.Api/Configurations/Dependencies/ApiLayerConfiguration.cs
  src/RaqamliAvlod.Api/Program.cs
Owners: @khayitmuradov

Created migrations
  src/RaqamliAvlod.DataAccess/DbContexts/AppDbContext.cs
  src/RaqamliAvlod.DataAccess/Migrations/20221102131110_InitialCreate.Designer.cs
  src/RaqamliAvlod.DataAccess/Migrations/20221102131110_InitialCreate.cs
  src/RaqamliAvlod.DataAccess/Migrations/20221102131601_SecondMigration.Designer.cs
  src/RaqamliAvlod.DataAccess/Migrations/20221102131601_SecondMigration.cs
  src/RaqamliAvlod.DataAccess/Migrations/AppDbContextModelSnapshot.cs
Owners: none

Wrote body of SendAsync method in EmailService
  src/RaqamliAvlod.Infrastructure.Service/Services/Common/EmailService.cs
Owners: none

EmailMessage properties are written in the Application layer
  src/RaqamliAvlod.Application/ViewModels/Common/EmailMessage.cs
Owners: none

The IEmailService interface is written in the Service layer's Inerface section
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Common/IEmailService.cs
Owners: none

created repository interfaces complated
  src/RaqamliAvlod.DataAccess/Interfaces/Contests/IContestSubmissionInfoRepository.cs
  src/RaqamliAvlod.DataAccess/Interfaces/Courses/ICourseVideoRepository.cs
  src/RaqamliAvlod.DataAccess/Interfaces/Questions/IQuestionTagRepository.cs
  src/RaqamliAvlod.DataAccess/Interfaces/Questions/ITagRepository.cs
Owners: none

Service.cdproj updated
  src/RaqamliAvlod.Infrastructure.Service/RaqamliAvlod - Backup (1).Infrastructure.Service.csproj
  src/RaqamliAvlod.Infrastructure.Service/RaqamliAvlod - Backup (2).Infrastructure.Service.csproj
  src/RaqamliAvlod.Infrastructure.Service/RaqamliAvlod - Backup.Infrastructure.Service.csproj
Owners: @TemurbekUbaydullayev

EmailService updated
  src/RaqamliAvlod.Infrastructure.Service/RaqamliAvlod.Infrastructure.Service.csproj
Owners: @TemurbekUbaydullayev

updated
  src/RaqamliAvlod.DataAccess/RaqamliAvlod.DataAccess.csproj
  src/RaqamliAvlod.DataAccess/Repositories/Contests/ContestSubmissionInfoRepository.cs
  src/RaqamliAvlod.DataAccess/Repositories/Courses/CourseViewRepository.cs
  src/RaqamliAvlod.Domain/Entities/Questions/QuestionAnswer.cs
Owners: @Maxamadzoidov

updated
  src/RaqamliAvlod.DataAccess/RaqamliAvlod.DataAccess.csproj
  src/RaqamliAvlod.DataAccess/Repositories/Contests/ContestSubmissionInfoRepository.cs
  src/RaqamliAvlod.DataAccess/Repositories/Courses/CourseViewRepository.cs
  src/RaqamliAvlod.Domain/Entities/Questions/QuestionAnswer.cs
Owners: @Maxamadzoidov

Set Added Database Configurations
  src/RaqamliAvlod.DataAccess/DbContexts/AppDbContext.cs
  src/RaqamliAvlod.DataAccess/Migrations/20221102140727_Migration3.Designer.cs
  src/RaqamliAvlod.DataAccess/Migrations/20221102140727_Migration3.cs
  src/RaqamliAvlod.DataAccess/Migrations/20221102142038_Migration4.Designer.cs
  src/RaqamliAvlod.DataAccess/Migrations/20221102142038_Migration4.cs
  src/RaqamliAvlod.DataAccess/Migrations/20221102145829_LastMigration.Designer.cs
  src/RaqamliAvlod.DataAccess/Migrations/20221102145829_LastMigration.cs
  src/RaqamliAvlod.Domain/Entities/Courses/Course.cs
  src/RaqamliAvlod.Domain/Entities/Courses/CourseComment.cs
  src/RaqamliAvlod.Domain/Entities/ProblemSets/ProblemSet.cs
  src/RaqamliAvlod.Domain/Entities/Questions/Question.cs
  src/RaqamliAvlod.Domain/Entities/Questions/QuestionAnswer.cs
Owners: none

Created Interfaces and Repositories for new models and added them to UnitOfWork
  src/RaqamliAvlod.DataAccess/Interfaces/Contests/IContestSubmissionInfoRepository.cs
  src/RaqamliAvlod.DataAccess/Interfaces/Courses/ICourseVideoRepository.cs
  src/RaqamliAvlod.DataAccess/Interfaces/Questions/IQuestionTagRepository.cs
  src/RaqamliAvlod.DataAccess/RaqamliAvlod.DataAccess.csproj
  src/RaqamliAvlod.DataAccess/Repositories/Contests/ContestSubmissionInfoRepository.cs
  src/RaqamliAvlod.DataAccess/Repositories/Courses/CourseVideoRepository.cs
  src/RaqamliAvlod.DataAccess/Repositories/Questions/QuestionTagRepository.cs
  src/RaqamliAvlod.DataAccess/Repositories/Questions/TagRepository.cs
  src/RaqamliAvlod.DataAccess/Repositories/UnitOfWork.cs
Owners: @Maxamadzoidov

updated repositories
  src/RaqamliAvlod.DataAccess/Interfaces/Contests/IContestSubmissionInfoRepository.cs
  src/RaqamliAvlod.DataAccess/Interfaces/Courses/ICourseVideoRepository.cs
  src/RaqamliAvlod.DataAccess/Interfaces/Questions/IQuestionTagRepository.cs
  src/RaqamliAvlod.DataAccess/RaqamliAvlod.DataAccess.csproj
  src/RaqamliAvlod.DataAccess/Repositories/Contests/ContestSubmissionInfoRepository.cs
  src/RaqamliAvlod.DataAccess/Repositories/Courses/CourseVideoRepository.cs
  src/RaqamliAvlod.DataAccess/Repositories/Questions/QuestionTagRepository.cs
  src/RaqamliAvlod.DataAccess/Repositories/Questions/TagRepository.cs
  src/RaqamliAvlod.DataAccess/Repositories/UnitOfWork.cs
Owners: @Maxamadzoidov

fix bugs
  src/RaqamliAvlod.DataAccess/Repositories/Questions/QuestionTagRepository.cs
Owners: none

pushed questionservice
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Questions/IQuestionService.cs
Owners: none

question service chagned again
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Questions/IQuestionService.cs
Owners: none

updated
  src/RaqamliAvlod.Infrastructure.Core/Class1.cs
  src/RaqamliAvlod.Infrastructure.Core/RaqamliAvlod.Infrastructure.Core.csproj
Owners: @sodiqjonovich

updated
  src/RaqamliAvlod.Infrastructure.Core/Class1.cs
  src/RaqamliAvlod.Infrastructure.Core/RaqamliAvlod.Infrastructure.Core.csproj
Owners: @sodiqjonovich

updated viewmodels
  src/RaqamliAvlod.Application/ViewModels/Questions/Queries/QuestionViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Users/Queries/OwnerViewModel.cs
  src/RaqamliAvlod.Infrastructure.Core/RaqamliAvlod.Infrastructure.Core.csproj
  src/RaqamliAvlod.Infrastructure.Service/RaqamliAvlod.Infrastructure.Service.csproj
Owners: @sodiqjonovich, @TemurbekUbaydullayev

GetByEmailAsync method added to UserRepository
  src/RaqamliAvlod.DataAccess/Interfaces/Users/IUserRepository.cs
  src/RaqamliAvlod.DataAccess/Repositories/Users/UserRepository.cs
Owners: none

AccountService Created
  src/RaqamliAvlod.Application/ViewModels/Accounts/Commands/SendToEmailViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Accounts/Commands/UserResetPasswordViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Accounts/Commands/VerifyEmailViewModel.cs
  src/RaqamliAvlod.Infrastructure.Service/Helpers/ImageHelper.cs
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Common/IAuthManager.cs
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Common/IFileService.cs
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Users/IAccountService.cs
  src/RaqamliAvlod.Infrastructure.Service/RaqamliAvlod.Infrastructure.Service.csproj
  src/RaqamliAvlod.Infrastructure.Service/Services/Common/AuthManager.cs
  src/RaqamliAvlod.Infrastructure.Service/Services/Common/FileService.cs
  src/RaqamliAvlod.Infrastructure.Service/Services/Users/AccountService.cs
Owners: @TemurbekUbaydullayev

AccountService created
  src/RaqamliAvlod.Infrastructure.Service/Dtos/Accounts/SendToEmailViewModel.cs
  src/RaqamliAvlod.Infrastructure.Service/Dtos/Accounts/UserResetPasswordViewModel.cs
  src/RaqamliAvlod.Infrastructure.Service/Dtos/Accounts/VerifyEmailViewModel.cs
  src/RaqamliAvlod.Infrastructure.Service/Helpers/ImageHelper.cs
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Common/IAuthManager.cs
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Common/IFileService.cs
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Users/IAccountService.cs
  src/RaqamliAvlod.Infrastructure.Service/RaqamliAvlod.Infrastructure.Service.csproj
  src/RaqamliAvlod.Infrastructure.Service/Services/Common/AuthManager.cs
  src/RaqamliAvlod.Infrastructure.Service/Services/Common/FileService.cs
  src/RaqamliAvlod.Infrastructure.Service/Services/Users/AccountService.cs
Owners: @TemurbekUbaydullayev

All problems fixed
  src/RaqamliAvlod.Infrastructure.Service/Dtos/Accounts/SendToEmailViewModel.cs
  src/RaqamliAvlod.Infrastructure.Service/Dtos/Accounts/UserResetPasswordViewModel.cs
  src/RaqamliAvlod.Infrastructure.Service/Dtos/Accounts/VerifyEmailViewModel.cs
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Users/IAccountService.cs
  src/RaqamliAvlod.Infrastructure.Service/Services/Users/AccountService.cs
Owners: none

AccountDto Updated
  src/RaqamliAvlod.Infrastructure.Service/Dtos/Accounts/SendToEmailDto.cs
  src/RaqamliAvlod.Infrastructure.Service/Dtos/Accounts/SendToEmailViewModel.cs
  src/RaqamliAvlod.Infrastructure.Service/Dtos/Accounts/UserResetPasswordDto.cs
  src/RaqamliAvlod.Infrastructure.Service/Dtos/Accounts/UserResetPasswordViewModel.cs
  src/RaqamliAvlod.Infrastructure.Service/Dtos/Accounts/VerifyEmailDto.cs
  src/RaqamliAvlod.Infrastructure.Service/Dtos/Accounts/VerifyEmailViewModel.cs
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Users/IAccountService.cs
  src/RaqamliAvlod.Infrastructure.Service/Services/Users/AccountService.cs
Owners: none

Created Course Service Interface and added new method
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Courses/ICourseService.cs
Owners: none

Created Course Service Interface and added new method
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Courses/ICourseService.cs
Owners: none

Update Account Service Interface
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Users/IAccountService.cs
Owners: none

Update Account Service Interface
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Users/IAccountService.cs
Owners: none

Update AccountService.cs
  src/RaqamliAvlod.Infrastructure.Service/Services/Users/AccountService.cs
Owners: none

Update Account Service Interface
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Courses/ICourseService.cs
  src/RaqamliAvlod.Infrastructure.Service/Services/Users/AccountService.cs
Owners: none

Update Account Service Interface
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Courses/ICourseService.cs
Owners: none

added Bcrypt
  src/RaqamliAvlod.Infrastructure.Service/RaqamliAvlod.Infrastructure.Service.csproj
Owners: @TemurbekUbaydullayev

Added AuthManager, PasswordHasher and added AccounService
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Users/IAccountService.cs
  src/RaqamliAvlod.Infrastructure.Service/RaqamliAvlod - Backup (3).Infrastructure.Service.csproj
  src/RaqamliAvlod.Infrastructure.Service/Security/AuthManager.cs
  src/RaqamliAvlod.Infrastructure.Service/Security/PasswordHasher.cs
  src/RaqamliAvlod.Infrastructure.Service/Services/Users/AccountService.cs
Owners: @TemurbekUbaydullayev
