Repository Khushboqof/raqamliavlod, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sodiqjonovich, @khayitmuradov, @Maxamadzoidov, @AbdullayevAbbos, @akhadov, @TemurbekUbaydullayev, @aslonboyev

.github/CODEOWNERS:

# Github configs PR reviewer
/.github/*                                      @sodiqjonovich
/assets/*                                       @sodiqjonovich
/src/*                                          @sodiqjonovich

/src/RaqamliAvlod.Api/*                         @khayitmuradov
/src/RaqamliAvlod.DataAccess/*                  @Maxamadzoidov
/src/RaqamliAvlod.Application/*                 @AbdullayevAbbos
/src/RaqamliAvlod.Domain/*                      @akhadov
/src/RaqamliAvlod.Infrastructure.Core/*         @sodiqjonovich
/src/RaqamliAvlod.Infrastructure.Service/*      @TemurbekUbaydullayev

/test/*                                         @aslonboyev

Added Time Helper
  src/RaqamliAvlod.Infrastructure.Service/Helpers/TimeHelper.cs
Owners: none

Update Course Repository and CourseCreateDto model and AccountService
  src/RaqamliAvlod.DataAccess/Repositories/Courses/CourseRepository.cs
  src/RaqamliAvlod.Infrastructure.Service/Dtos/Courses/CourseCreateDto.cs
Owners: none

File Service added new method
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Common/IFileService.cs
  src/RaqamliAvlod.Infrastructure.Service/Services/Common/FileService.cs
Owners: none

Course Service added new method
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Courses/ICourseService.cs
  src/RaqamliAvlod.Infrastructure.Service/Services/Courses/CourseService.cs
Owners: none

Update
  src/RaqamliAvlod.Api/RaqamliAvlod.Api.csproj
  src/RaqamliAvlod.Api/wwwroot/Images/IMG_0fd8b3d7-7b0a-4483-b0d6-9e8bcfa733c3.png
  src/RaqamliAvlod.Api/wwwroot/Images/IMG_876753dc-3f5c-4631-8dd7-ca4ba013bf48.png
  src/RaqamliAvlod.Api/wwwroot/Images/IMG_d27c8315-9eef-478d-ab3a-c449dae9ba4f.png
  src/RaqamliAvlod.Api/wwwroot/Images/IMG_f57cd31a-b6dd-4746-a33d-e3f028a5a097.png
  src/RaqamliAvlod.Infrastructure.Service/Services/Users/AccountService.cs
Owners: @khayitmuradov

deleted course view and added static files access
  src/RaqamliAvlod.Api/Program.cs
  src/RaqamliAvlod.DataAccess/Repositories/Courses/CourseViewRepository.cs
Owners: @khayitmuradov

CourseViewModel added Id property
  src/RaqamliAvlod.Application/ViewModels/Courses/CourseViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Questions/QuestionViewModel.cs
Owners: none

Deleted CourseViewRepository and rename OwnerViewModel to Owner
  src/RaqamliAvlod.Application/ViewModels/Users/OwnerViewModel.cs
  src/RaqamliAvlod.DataAccess/Repositories/Courses/CourseViewRepository.cs
Owners: none

updated
  src/RaqamliAvlod.Api/wwwroot/Images/IMG_41b1e324-55b6-4ce0-8e06-2436fd6f55ae.png
  src/RaqamliAvlod.Application/ViewModels/Users/Owner.cs
  src/RaqamliAvlod.Infrastructure.Service/Services/Courses/CourseService.cs
Owners: none

Update OwnerViewModel
  src/RaqamliAvlod.Application/ViewModels/Courses/CourseViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Questions/QuestionViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Users/OwnerViewModel.cs
  src/RaqamliAvlod.Infrastructure.Service/Services/Courses/CourseService.cs
Owners: none

FindByTagNameAsync method added to TagRepository
  src/RaqamliAvlod.DataAccess/Interfaces/Questions/ITagRepository.cs
  src/RaqamliAvlod.DataAccess/Repositories/Questions/TagRepository.cs
Owners: none

updated
  src/RaqamliAvlod.Api/Controllers/AccountsController.cs
Owners: none

finally changed question service
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Questions/IQuestionService.cs
  src/RaqamliAvlod.Infrastructure.Service/Services/Questions/QuestionService.cs
Owners: none

updated
  src/RaqamliAvlod.Api/wwwroot/images/IMG_8e18e22f-8696-4382-9cbc-0e55479751ce.jpg
Owners: none

Added and configured jwt config and swagger auth config
  src/RaqamliAvlod.Api/Configurations/Dependencies/ApiLayerConfiguration.cs
  src/RaqamliAvlod.Api/Configurations/JwtConfiguration.cs
  src/RaqamliAvlod.Api/Configurations/SwaggerAuthConfiguration.cs
  src/RaqamliAvlod.Api/RaqamliAvlod.Api.csproj
Owners: @khayitmuradov

finally changed question service
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Questions/IQuestionService.cs
  src/RaqamliAvlod.Infrastructure.Service/Services/Questions/QuestionService.cs
Owners: none

Update method completed in COurse Service, CourseCreateDto and CourseUpdateDto updated
  assets/raqamliavlod.pgerd
  src/RaqamliAvlod.Api/Controllers/CoursesController.cs
  src/RaqamliAvlod.Api/wwwroot/Images/IMG_29a10df1-26f8-41d4-9ccf-75017f6adbef.png
  src/RaqamliAvlod.Api/wwwroot/Images/IMG_b4788c3a-50d0-4b0b-843e-8cc2a3c10440.png
  src/RaqamliAvlod.Api/wwwroot/Images/IMG_ee8c0b1b-9fa6-4172-b5b3-886e0ffa1926.png
  src/RaqamliAvlod.Infrastructure.Service/Dtos/Courses/CourseCreateDto.cs
  src/RaqamliAvlod.Infrastructure.Service/Dtos/Courses/CourseUpdateDto.cs
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Courses/ICourseService.cs
  src/RaqamliAvlod.Infrastructure.Service/Services/Courses/CourseService.cs
Owners: @sodiqjonovich

some changes in question service
  src/RaqamliAvlod.Api/Controllers/QuestionsController.cs
Owners: none

some changes in question service
  src/RaqamliAvlod.Api/Controllers/QuestionsController.cs
Owners: none

updated all repositories order by and skip take warning is complated and fixed
  src/RaqamliAvlod.Api/Configurations/JwtConfiguration.cs
  src/RaqamliAvlod.DataAccess/Repositories/Contests/ContestStandingsRepository.cs
  src/RaqamliAvlod.DataAccess/Repositories/Contests/ContestSubmissionInfoRepository.cs
  src/RaqamliAvlod.DataAccess/Repositories/Courses/CourseCommentRepository.cs
  src/RaqamliAvlod.DataAccess/Repositories/Courses/CourseRepository.cs
  src/RaqamliAvlod.DataAccess/Repositories/Courses/CourseVideoRepository.cs
  src/RaqamliAvlod.DataAccess/Repositories/GenericRepository.cs
  src/RaqamliAvlod.DataAccess/Repositories/ProblemSets/ProblemSetTestRepository.cs
  src/RaqamliAvlod.DataAccess/Repositories/Questions/QuestionAnswerRepository.cs
  src/RaqamliAvlod.DataAccess/Repositories/Questions/QuestionTagRepository.cs
Owners: none

updated auth
  src/RaqamliAvlod.Api/Configurations/JwtConfiguration.cs
  src/RaqamliAvlod.Api/Program.cs
Owners: @khayitmuradov

IdentityHelper service created
  src/RaqamliAvlod.Api/Configurations/Dependencies/ServiceLayerConfiguration.cs
  src/RaqamliAvlod.Api/Controllers/ContestsController.cs
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Common/IIdentityHelperService.cs
  src/RaqamliAvlod.Infrastructure.Service/Managers/IdentityHelperService.cs
Owners: none

modified controllers
  src/RaqamliAvlod.Api/Controllers/AccountsController.cs
  src/RaqamliAvlod.Api/Controllers/CoursesController.cs
Owners: none

some changes in question service and controller
  src/RaqamliAvlod.Api/Configurations/Dependencies/ServiceLayerConfiguration.cs
  src/RaqamliAvlod.Api/Controllers/QuestionsController.cs
  src/RaqamliAvlod.Infrastructure.Service/Services/Questions/QuestionService.cs
Owners: none

IdentityHelperService implemented
  src/RaqamliAvlod.Api/Controllers/ContestsController.cs
  src/RaqamliAvlod.Api/Program.cs
  src/RaqamliAvlod.Infrastructure.Service/Managers/IdentityHelperService.cs
Owners: @khayitmuradov

stashed changed
  src/RaqamliAvlod.Api/RaqamliAvlod.Api.csproj
Owners: @khayitmuradov

stashed changed
  src/RaqamliAvlod.Api/RaqamliAvlod.Api.csproj
Owners: @khayitmuradov

IdentityHelperService implemented
  src/RaqamliAvlod.Api/Controllers/ContestsController.cs
  src/RaqamliAvlod.Infrastructure.Service/Managers/IdentityHelperService.cs
Owners: none

Update IUnitOfWork interface
  src/RaqamliAvlod.DataAccess/Interfaces/IUnitOfWork.cs
Owners: none

Add new migration and models updated
  src/RaqamliAvlod.DataAccess/Migrations/20221107114200_DatabaseMigration.Designer.cs
  src/RaqamliAvlod.DataAccess/Migrations/20221107114200_DatabaseMigration.cs
  src/RaqamliAvlod.Domain/Common/Auditable.cs
  src/RaqamliAvlod.Domain/Entities/Courses/CourseVideo.cs
  src/RaqamliAvlod.Domain/Entities/Questions/Question.cs
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Courses/ICourseVideoService.cs
Owners: none

upated reletions
  assets/raqamliavlod.pgerd
  src/RaqamliAvlod.DataAccess/Repositories/UnitOfWork.cs
Owners: @sodiqjonovich

stashed changed
  src/RaqamliAvlod.Api/RaqamliAvlod.Api.csproj
Owners: @khayitmuradov

upated reletions
  assets/raqamliavlod.pgerd
  src/RaqamliAvlod.DataAccess/Repositories/UnitOfWork.cs
Owners: @sodiqjonovich

updated
  src/RaqamliAvlod.DataAccess/Repositories/UnitOfWork.cs
Owners: none

updated
  src/RaqamliAvlod.DataAccess/Repositories/UnitOfWork.cs
Owners: none

updated
  src/RaqamliAvlod.DataAccess/Interfaces/IUnitOfWork.cs
Owners: none

Added new private methods on Course Video Service
  src/RaqamliAvlod.Infrastructure.Service/Dtos/Courses/CourseVideoCreateDto.cs
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Courses/ICourseVideoService.cs
  src/RaqamliAvlod.Infrastructure.Service/RaqamliAvlod.Infrastructure.Service.csproj
  src/RaqamliAvlod.Infrastructure.Service/Services/Courses/CourseVideoService.cs
Owners: @TemurbekUbaydullayev

Added new private methods on Course Video Service
  src/RaqamliAvlod.Infrastructure.Service/Dtos/Courses/CourseVideoCreateDto.cs
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Courses/ICourseVideoService.cs
  src/RaqamliAvlod.Infrastructure.Service/RaqamliAvlod.Infrastructure.Service.csproj
  src/RaqamliAvlod.Infrastructure.Service/Services/Courses/CourseVideoService.cs
Owners: @TemurbekUbaydullayev

updated
  src/RaqamliAvlod.Api/Controllers/QuestionsController.cs
Owners: none

Removed IDisposable on IUnitOfWork
  src/RaqamliAvlod.DataAccess/Interfaces/IUnitOfWork.cs
Owners: none
