Repository Khushboqof/raqamliavlod, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sodiqjonovich, @khayitmuradov, @Maxamadzoidov, @AbdullayevAbbos, @akhadov, @TemurbekUbaydullayev, @aslonboyev

.github/CODEOWNERS:

# Github configs PR reviewer
/.github/*                                      @sodiqjonovich
/assets/*                                       @sodiqjonovich
/src/*                                          @sodiqjonovich

/src/RaqamliAvlod.Api/*                         @khayitmuradov
/src/RaqamliAvlod.DataAccess/*                  @Maxamadzoidov
/src/RaqamliAvlod.Application/*                 @AbdullayevAbbos
/src/RaqamliAvlod.Domain/*                      @akhadov
/src/RaqamliAvlod.Infrastructure.Core/*         @sodiqjonovich
/src/RaqamliAvlod.Infrastructure.Service/*      @TemurbekUbaydullayev

/test/*                                         @aslonboyev

updated
  assets/raqamliavlod.pgerd
Owners: @sodiqjonovich

added some controllers
  src/RaqamliAvlod.Api/Controllers/CoursesController.cs
  src/RaqamliAvlod.Api/Controllers/QuestionsController.cs
  src/RaqamliAvlod.Api/Controllers/UsersController.cs
Owners: none

added UserCreateViewModel, Abbos aka should do this tbh -___-
  src/RaqamliAvlod.Application/ViewModels/Users/Commands/UserCreateViewModel.cs
Owners: none

view models
  src/RaqamliAvlod.Application/ViewModels/Accounts/Commands/AccountCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Contests/Commands/ContestCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Contests/Commands/ContestPatchViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Contests/Commands/ContestUpdateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Courses/Commands/CourseCommentCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Courses/Commands/CourseCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Courses/Commands/CoursePatchViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Courses/Commands/CourseUpdateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Courses/Commands/CourseVideoCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Courses/Commands/CourseVideoPatchViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Courses/Commands/CouseCommentPatchViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Courses/Commands/CouseVideoUpdateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Courses/Queries/CourseCommentViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/ProblemSets/Commands/ProblemSetCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/ProblemSets/Commands/ProblemSetPatchViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/ProblemSets/Commands/ProblemSetUpdateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Questions/Commands/QuestionCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Questions/Commands/QuestionPatchViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Questions/Commands/QuestionUpdateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Submissions/Commands/SubmissionCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Submissions/Commands/SubmissionUpdateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Submissions/Commands/SubmissonPatchViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Submissions/Queries/ContestSubmissionViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Users/Commands/UserPatchViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Users/Queries/UserViewModel.cs
Owners: none

updated ProblemSetsControllers and UserControllers
  src/RaqamliAvlod.Api/Controllers/ProblemSetsController.cs
  src/RaqamliAvlod.Api/Controllers/UsersController.cs
Owners: none

fixed tags problem
  assets/raqamliavlod.pgerd
  src/RaqamliAvlod.Api/Controllers/ContestsController.cs
Owners: @sodiqjonovich

updated
  assets/raqamliavlod.pgerd
Owners: @sodiqjonovich

problemsetsController created
  src/RaqamliAvlod.Api/Controllers/ContestsController.cs
  src/RaqamliAvlod.Api/Controllers/CoursesController.cs
  src/RaqamliAvlod.Api/Controllers/ProblemSetsController.cs
Owners: none

updated
  src/RaqamliAvlod.Application/ViewModels/Submissions/Commands/ContestSubmissionCreateViewModel.cs
Owners: none

detechted
  assets/raqamliavlod.pgerd
  src/RaqamliAvlod.Api/Controllers/ContestsController.cs
Owners: @sodiqjonovich

updated
  src/RaqamliAvlod.Application/ViewModels/Submissions/Commands/ContestSubmissionCreateViewModel.cs
Owners: none

updated
  assets/raqamliavlod.pgerd
Owners: @sodiqjonovich

view models
  src/RaqamliAvlod.Application/ViewModels/Accounts/Commands/AccountCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Contests/Commands/ContestCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Contests/Commands/ContestPatchViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Contests/Commands/ContestUpdateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Courses/Commands/CourseCommentCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Courses/Commands/CourseCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Courses/Commands/CoursePatchViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Courses/Commands/CourseUpdateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Courses/Commands/CourseVideoCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Courses/Commands/CourseVideoPatchViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Courses/Commands/CouseCommentPatchViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Courses/Commands/CouseVideoUpdateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Courses/Queries/CourseCommentViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/ProblemSets/Commands/ProblemSetCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/ProblemSets/Commands/ProblemSetPatchViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/ProblemSets/Commands/ProblemSetUpdateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Questions/Commands/QuestionCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Questions/Commands/QuestionPatchViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Questions/Commands/QuestionUpdateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Submissions/Commands/SubmissionCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Submissions/Commands/SubmissionUpdateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Submissions/Commands/SubmissonPatchViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Submissions/Queries/ContestSubmissionViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Users/Commands/UserPatchViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Users/Queries/UserViewModel.cs
Owners: none

UserConfigurations updated
  src/RaqamliAvlod.DataAccess/Configurations/UserConfiguration.cs
Owners: none

some changes in courses controller
  src/RaqamliAvlod.Api/Controllers/CoursesController.cs
Owners: none

one more change
  src/RaqamliAvlod.Api/Controllers/CoursesController.cs
Owners: none

updated Controllers
  src/RaqamliAvlod.Api/Controllers/ProblemSetsController.cs
  src/RaqamliAvlod.Application/ViewModels/ProblemSets/Commands/ProblemSetCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/ProblemSets/Commands/ProblemSetTestCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/ProblemSets/Commands/ProblemSetUpdateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Submissions/Commands/ProblemSetSubmissionCreateViewModel.cs
Owners: none

some changes in qeustions controller
  src/RaqamliAvlod.Api/Controllers/CoursesController.cs
  src/RaqamliAvlod.Api/Controllers/ProblemSetsController.cs
  src/RaqamliAvlod.Api/Controllers/QuestionsController.cs
Owners: none

updated contests controller and users controller
  src/RaqamliAvlod.Api/Controllers/ContestsController.cs
  src/RaqamliAvlod.Api/Controllers/UsersController.cs
Owners: none

added submissions controller
  src/RaqamliAvlod.Api/Controllers/SubmissionsController.cs
Owners: none

another one change submissionscontroller
  src/RaqamliAvlod.Api/Controllers/SubmissionsController.cs
Owners: none

complated db-reletionships
  assets/raqamliavlod.pgerd
  src/RaqamliAvlod.Api/Controllers/ProblemSetsController.cs
  src/RaqamliAvlod.Api/Controllers/UsersController.cs
Owners: @sodiqjonovich

complated entities-> problemsets, contests, submissions
  src/RaqamliAvlod.Domain/Entities/Contests/Contest.cs
  src/RaqamliAvlod.Domain/Entities/Contests/ContestStandings.cs
  src/RaqamliAvlod.Domain/Entities/Contests/ContestSubmissionsInfo.cs
  src/RaqamliAvlod.Domain/Entities/ProblemSets/ProblemSet.cs
  src/RaqamliAvlod.Domain/Entities/Submissions/Submission.cs
Owners: none

complated entities
  src/RaqamliAvlod.Domain/Entities/Questions/Question.cs
  src/RaqamliAvlod.Domain/Entities/Questions/QuestionAnswer.cs
  src/RaqamliAvlod.Domain/Entities/Questions/QuestionTag.cs
  src/RaqamliAvlod.Domain/Entities/Questions/Tag.cs
Owners: none

modify user roles
  src/RaqamliAvlod.Domain/Enums/UserRole.cs
Owners: none

updated reletions
  assets/raqamliavlod.pgerd
Owners: @sodiqjonovich

Created Paginator Service Interface
  src/RaqamliAvlod.Infrastructure.Service/Interfaces/Common/IPaginatorService.cs
Owners: none

Deleted Class1.cs file on RaqamliAvlod.Infrastructure.Service layer
  src/RaqamliAvlod.Infrastructure.Service/Class1.cs
Owners: @TemurbekUbaydullayev

attributes added to viewmodels
  src/RaqamliAvlod.Application/Attributes/AllowedFilesAttribute.cs
  src/RaqamliAvlod.Application/Attributes/EmailAttribute.cs
  src/RaqamliAvlod.Application/Attributes/MaxFileSizeAttribute.cs
  src/RaqamliAvlod.Application/Attributes/NameAttribute.cs
  src/RaqamliAvlod.Application/Attributes/StrongPasswordAttribute.cs
  src/RaqamliAvlod.Application/RaqamliAvlod.Application.csproj
  src/RaqamliAvlod.Application/ViewModels/Accounts/Commands/AccountCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Accounts/Commands/AccountLoginViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Contests/Commands/ContestCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Contests/Commands/ContestPatchViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Contests/Commands/ContestUpdateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Contests/Queries/ContestStandingsViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Courses/Commands/CourseCommentCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Courses/Commands/CourseCommentUpdateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Courses/Commands/CourseCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Courses/Commands/CoursePatchViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Courses/Commands/CourseUpdateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Courses/Commands/CourseVideoCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Courses/Commands/CourseVideoUpdateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Courses/Commands/CouseVideoUpdateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/ProblemSets/Commands/ProblemSetTestCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/ProblemSets/Commands/ProblemSetUpdateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Questions/Commands/QuestionCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Questions/Commands/QuestionPatchViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Questions/Commands/QuestionUpdateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Submissions/Commands/ContestSubmissionCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Submissions/Commands/ProblemSetSubmissionCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Submissions/Commands/SubmissionUpdateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Submissions/Commands/SubmissonPatchViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Submissions/Queries/ContestSubmissionViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Submissions/Queries/SubmissionViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Users/Commands/PasswordUpdateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Users/Commands/UserCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Users/Commands/UserPatchViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Users/Commands/UserUpdateViewModel.cs
Owners: @AbdullayevAbbos

updated reletions
  assets/raqamliavlod.pgerd
Owners: @sodiqjonovich

fixing viewmodels problems
  src/RaqamliAvlod.Application/ViewModels/Contests/Queries/ContestStandingsViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Questions/Commands/QuestionUpdateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Questions/Queries/QuestionViewModel.cs
Owners: none

fixing viewmodels problems
  src/RaqamliAvlod.Application/ViewModels/Contests/Queries/ContestStandingsViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Questions/Commands/QuestionUpdateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Questions/Queries/QuestionViewModel.cs
Owners: none

updated reletions
  assets/raqamliavlod.pgerd
Owners: @sodiqjonovich

updated
  src/RaqamliAvlod.Api/Controllers/ContestsController.cs
  src/RaqamliAvlod.Api/Controllers/ProblemSetsController.cs
  src/RaqamliAvlod.Api/Controllers/SubmissionsController.cs
  src/RaqamliAvlod.Application/ViewModels/Contests/Queries/ContestStandingsViewModel.cs
Owners: none

review
  src/RaqamliAvlod.Api/Controllers/ContestsController.cs
  src/RaqamliAvlod.Application/ViewModels/Accounts/Commands/PasswordUpdateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Contests/Commands/ContestUpdateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/ProblemSets/Commands/ContestProblemSetCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/ProblemSets/Commands/ProblemSetCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/ProblemSets/Commands/ProblemSetTestCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/ProblemSets/Commands/ProblemSetUpdateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Submissions/Commands/ContestSubmissionCreateViewModel.cs
  src/RaqamliAvlod.Application/ViewModels/Users/Commands/UserPatchViewModel.cs
Owners: none

updated problemsets controller
  src/RaqamliAvlod.Api/Controllers/ProblemSetsController.cs
Owners: none

changed accounts controller
  src/RaqamliAvlod.Api/Controllers/AccountsController.cs
Owners: none

questions controller updated
  src/RaqamliAvlod.Api/Controllers/QuestionsController.cs
Owners: none

and did code cleanup in api layer
  src/RaqamliAvlod.Api/Controllers/AccountsController.cs
  src/RaqamliAvlod.Api/Controllers/ContestsController.cs
  src/RaqamliAvlod.Api/Controllers/CoursesController.cs
  src/RaqamliAvlod.Api/Controllers/ProblemSetsController.cs
  src/RaqamliAvlod.Api/Controllers/QuestionsController.cs
  src/RaqamliAvlod.Api/Controllers/UsersController.cs
Owners: none

updated
  src/RaqamliAvlod.Application/RaqamliAvlod.Application.csproj
Owners: @AbdullayevAbbos
